<!doctype html>
<html lang="{{ page.page.locale|default }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block metaDescription %}{% endblock %}">
    <meta name="keywords" content="{% block metaKeywords %}{% endblock %}">
    <meta name="author" content="{% block metaAuthor %}{% endblock %}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CMerriweather+Sans:300,400,700">
        <link rel="stylesheet" href="{{ asset('templates/boost/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('templates/boost/css/theme.min.css') }}">
    {% endblock %}

    {% block favicons %}
        {% if site.favicon is not empty %}
            <link rel="icon" href="{{ site.favicon }}" sizes="any" />
        {% endif %}
    {% endblock %}

    {% block headerJavascripts %}{% endblock %}
    {% block headerAnalyticsCode %}
        {{ site.headerCode|raw }}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% block body %}{% endblock %}

{% block javascriptFooter %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('templates/boost/js/jquery.slim.min.js') }}"></script>
    <script src="{{ asset('templates/boost/js/popper.min.js') }}"></script>
    <script src="{{ asset('templates/boost/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block bodyAnalyticsCode %}
    {{ site.bodyCode|raw }}
{% endblock %}

</body>
