<footer class="site-footer mt-5">
    <div class="container">
        <div class="row justify-content-md-between">
            <div class="col-sm-12 col-md-4 mb-4">
                <h3 class="h5 mb-3">{{ site.title }}</h3>
                {{ site.description|raw }}
            </div>
            <div class="col-4 col-md-2 mb-4">
                <h3 class="h5 mb-3">{{ page.menuNames.footerLeft }}</h3>
                <ul class="nav flex-column">
                    {% for menu in page.menus.footerLeft %}{% if menu.children is empty %}
                        <li class="mb-1">
                            <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                        </li>
                    {% else %}
                        <li class="mb-1">
                            <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                        </li>
                        {% for m in menu.children %}
                            <li class="mb-1">
                                <a href="{{ m.slug }}" rel="{{ m.rel }}" target="{{ m.target }}"><i class="fa fa-level-up-alt fa-rotate-90"></i> {{ m.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4 col-md-2 mb-4">
                <h3 class="h5 mb-3">{{ page.menuNames.footerMiddle }}</h3>
                <ul class="nav flex-column">
                    {% for menu in page.menus.footerMiddle %}
                        {% if menu.children is empty %}
                            <li class="mb-1">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                        {% else %}
                            <li class="mb-1">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                            {% for m in menu.children %}
                                <li class="mb-1">
                                    <a href="{{ m.slug }}" rel="{{ m.rel }}" target="{{ m.target }}"><i class="fa fa-level-up-alt fa-rotate-90"></i> {{ m.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4 col-md-2 mb-4">
                <h3 class="h5 mb-3">{{ page.menuNames.footerRight }}</h3>
                <ul class="nav flex-column">
                    {% for menu in page.menus.footerRight %}
                        {% if menu.children is empty %}
                            <li class="mb-1">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                        {% else %}
                            <li class="mb-1">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                            {% for m in menu.children %}
                                <li class="mb-1">
                                    <a href="{{ m.slug }}" rel="{{ m.rel }}" target="{{ m.target }}"><i class="fa fa-level-up-alt fa-rotate-90"></i> {{ m.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr class="m-0">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center mt-4">
            <p class="small text-muted">&copy; {{ site.title }} {{ "now"|date("Y") }}</p>
            <ul class="list-inline">

                {% if site.twitter is not empty %}
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="{{ site.twitter }}" target="_blank">
                            <i class="icon-inner fab fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                {% endif %}

                {% if site.linkedin is not empty %}
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="{{ site.linkedin }}" target="_blank">
                            <i class="icon-inner fab fa-linkedin-in" aria-hidden="true"></i>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </li>
                {% endif %}

                {% if site.instagram is not empty %}
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="{{ site.instagram }}" target="_blank">
                            <i class="icon-inner fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                {% endif %}

                {% if site.facebook is not empty %}
                    <li class="list-inline-item">
                        <a class="icon icon-sm icon-secondary" href="{{ site.facebook }}" target="_blank">
                            <i class="icon-inner fab fa-facebook-f" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</footer>
