{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- item-03 -->
    <div class="container-fluid styling-container p-0">
        <div class="container styling-breadcrumbs bg-white pt-3">
            {% include site.template~'/breadcrumbs.html.twig' %}
        </div>
        <div class="container styling-content bg-white py-3">
            <main id="content">
                <div class="jumbotron bg-light text-dark"
                     style="background-image: url('{{ page.page.images|first }}?id={{ random() }}'); background-position: center center;background-size: cover;">
                    <h1>{{ page.page.title }}</h1>
                    {{ page.page.banner|raw }}
                </div>
                <div class="row">
                    <div class="col-12 col-md-9">
                        {{ page.page.description|raw }}
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="list-group pb-3">
                            {% for menu in page.page.parent.children|default %}
                                <a class="list-group-item list-group-item-action{% if app.request.pathInfo == menu.slug %} active{% endif %}"
                                   href="{{ menu.slug }}"
                                   target="{{ menu.target }}"
                                   rel="{{ menu.rel }}"
                                >{{ menu.title }}</a>
                            {% endfor %}
                        </div>
                        <div class="list-group pb-3">
                            {% for menu in page.menus.bodyRight|default %}
                                <a class="list-group-item list-group-item-action{% if app.request.pathInfo == menu.slug %} active{% endif %}"
                                   href="{{ menu.slug }}"
                                   target="{{ menu.target }}"
                                   rel="{{ menu.rel }}"
                                >{{ menu.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
