{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- breadcrumbs -->
    <div class="container styling-breadcrumbs bg-white pb-3">
        {% include site.template~'/breadcrumbs.html.twig' %}
    </div>
    <!-- item-04 -->
    <div class="container styling-item-04 bg-white pb-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>{{ page.page.title }}</h1>
                {{ page.page.banner|raw }}
                {{ page.page.description|raw }}
            </div>
            <div class="col-12 col-md-6">
                {% if page.page.images is not empty %}
                    <img class="img-fluid img-thumbnail rounded shadow"
                         src="{{ page.page.images|first }}"
                         alt="{{ page.page.title }}" />
                {% endif %}
            </div>
        </div>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
