{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- breadcrumbs -->
    <div class="container styling-breadcrumbs bg-white py-3">
        {% include site.template~'/breadcrumbs.html.twig' %}
    </div>
    <!-- item -->
    <div class="container styling-item-01 bg-white py-3">
        <main id="content">
            <div class="jumbotron bg-light text-dark">
                <h1>{{ page.page.title }}</h1>
                {{ page.page.banner|raw }}
            </div>
            <div class="row">
                <div class="col-12">
                    {{ page.page.description|raw }}
                </div>
            </div>
        </main>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
