{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- breadcrumbs -->
    <div class="container styling-breadcrumbs bg-white pb-3">
        {% include site.template~'/breadcrumbs.html.twig' %}
    </div>
    <!-- item-01 -->
    <div class="container styling-item-01 bg-white pb-3">
        <main id="content">
            <div class="row">
                <div class="col-12 col-sm-3 pb-3">
                    <div class="list-group">
                        {% for menu in page.page.parent.children %}
                            <a class="list-group-item list-group-item-action{% if app.request.get('slug') == menu.slug %} active{% endif %}"
                               href="{{ menu.slug }}"
                               target="{{ menu.target }}"
                               rel="{{ menu.rel }}"
                            >{{ menu.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-sm-9 pb-3">
                    <div class="jumbotron shadow border bg-primary text-white" style="background-image: url('{{ page.page.images|first }}'); background-position: center center; background-size: cover;">
                        <h1>{{ page.page.title }}</h1>
                        {{ page.page.banner|raw }}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ page.page.description|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
