{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- landing-01 -->
    {% for banner in page.banners %}

        <div class="container-fluid p-0 styling-container-{{ banner.id }}">
            <div class="container bg-white py-3 styling-content-{{ banner.id }}">
                {% include site.template~'/banners/'~banner.type~'.html.twig' %}
            </div>
        </div>

    {% endfor %}

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
