{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <div class="container bg-white pb-3">
        <main id="content">
            <div class="row">
                <div class="col-12 col-md-3">
                    <h2>{{ 'Filters'|trans }}</h2>
                    <p>{{ 'Er zijn geen filters gevonden.'|trans }}</p>
                </div>
                <div class="col-12 col-md-9">
                    <h2>{{ 'Zoeken'|trans }}</h2>
                    {% if search is empty %}
                        <p>{{ 'Er zijn geen items gevonden.'|trans }}</p>
                    {% else %}
                        <p>{{ search|length }} {{ 'gevonden items'|trans }}</p>
                    {% endif %}
                    {% for item in search %}
                        <div class="row pb-3">
                            <div class="col-4">
                                {% set image = item.images|first %}
                                {% if image|first is not empty %}
                                    <a href="{{ path('default', {'slug':item.slug}) }}">
                                        <img src="{{ image }}" class="img-fluid img-thumbnail" style="max-height:10em;">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-8">
                                <p class="">
                                    <a href="{{ path('default', {'slug':item.slug}) }}">
                                        {{ item.title }}
                                    </a>
                                </p>
                                <p class="text-muted">
                                    {% set banner = item.banner|split('.') %}
                                    {{ banner|first|striptags }}

                                    {% set description = item.description|split('.') %}
                                    {{ description|first|striptags }}
                                <p>
                                    <a href="{{ path('default', {'slug':item.slug}) }}">
                                        <span class="fa fa-arrow-alt-circle-right"></span>
                                        {{ 'Lees meer'|trans }}
                                    </a>
                                </p>
                                </p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
