<header class="site-header">
    <a href="#content" class="sr-only sr-only-focusable">Skip to content</a>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-3" aria-label="Main navigation">
            <a class="navbar-brand text-dark" href="{{ path('default') }}">
                <span class="text-primary">Beeterr</span> PuntNL
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-lg"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0 ml-auto">
                    {% for menu in page.menus.topRight %}
                        {% if menu.children is empty %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('default', {'slug':menu.slug}) }}" target="{{ menu.target }}" rel="{{ menu.rel }}">{{ menu.title }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{{ path('default', {'slug':menu.slug}) }}" id="DropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ menu.title }}
{#                                    <i class="fas fa-angle-down fa-sm ml-1"></i>#}
                                </a>
                                <div class="dropdown-menu mb-2" aria-labelledby="DropdownMenu">
                                    <a class="dropdown-item" href="{{ path('default', {'slug':menu.slug}) }}" target="{{ menu.target }}" rel="{{ menu.rel }}">
                                        <strong>{{ menu.title }}</strong>
                                    </a>
                                    {% for m in menu.children %}
                                        <a class="dropdown-item" href="{{ path('default', {'slug':m.slug}) }}">{{ m.title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>
