<div>
    <div class="jumbotron bg-primary text-white text-dark" style="background-image: url('{{ banner.images|first }}?id={{ random() }}'); background-position: center center;background-size: cover;">
        <h1>{{ banner.title }}</h1>
        {{ banner.description|raw }}
        {% for cta in banner.CTAS|slice(0,1) if cta is defined %}
            <a class="btn btn-pill btn-outline-light btn-lg"
               href="{{ cta.slug }}"
               target="{{ cta.target }}"
               rel="{{ cta.rel }}"
               role="button"
            >
                {{ cta.title }} »
            </a>
        {% endfor %}
    </div>
</div>
