<!-- Accordion -->
<div class="container">
    <h2 class="my-5 text-center">{{ banner.title }}</h2>
    <div class="row justify-content-lg-center pb-5">
        <div class="col-lg-9">
            <div class="accordion" id="accordionQuestions">
                {% for item in banner.items %}
                    <div class="card shadow mb-2">
                        <div class="card-header" id="headingOne">
                            <h3 class="card-title">
                                <a class="collapsed" role="button" href="#collapse{{ item.id }}" data-toggle="collapse" data-target="#collapse{{ item.id }}" aria-expanded="false" aria-controls="collapse{{ item.id }}">
                                    {{ item.title }} <i class="fas fa-angle-down float-right rotate-icon"> </i>
                                </a>
                            </h3>
                        </div>
                        <div id="collapse{{ item.id }}" class="collapse" aria-labelledby="heading{{ item.id }}" data-parent="#accordionQuestions">
                            <div class="card-body">
                                {{ item.description|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
