<section class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-8 text-center text-lg-left">
            <h2>{{ banner.title }}</h2>
            {{ banner.description|raw }}
            {% for cta in banner.CTAS|slice(0,1) if cta is defined %}
                <a class="link-cta" href="{{ cta.slug }}" target="{{ cta.target }}" rel="{{ cta.rel }}">{{ cta.title }}</a>
            {% endfor %}
        </div>
        <div class="col-lg-4 text-center">
            <img src="{{ banner.images|first }}" class="img-thumbnail mb-4 mb-lg-0" alt="" style="filter: grayscale(100%)">
        </div>
    </div>
</section>
