{% extends '/bootstrap/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- down -->
    <div class="container-fluid styling-container p-0">
        <div class="container content styling-content py-3">
            <div class="row">
                <div class="col">
                    <h1>{{ page.page.title }}</h1>
                    <hr>
                    {{ page.page.banner|raw }}
                    {{ page.page.description|raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

