{% extends '/bootstrap/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- down -->
    <div class="container-fluid styling-container p-0">
        <div class="container styling-content bg-white py-3">
            <div class="row">
                <div class="col">
                    <p>{{ 'Deze website is tijdelijk niet beschikbaar. Probeer het later nog eens.'|trans }}</p>
                    <p>{{ 'Excuses voor het ongemak.'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

