{% extends '/bootstrap/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include '/bootstrap/'~site.template~'.html.twig' %}

    <!-- item-01 -->
    <div class="container-fluid styling-container p-0">
        <div class="container content styling-breadcrumbs pt-3">
            {% include '/bootstrap/breadcrumbs.html.twig' %}
        </div>
        <div class="container content styling-content py-3">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="list-group">
                        {% for menu in page.menus.bodyLeft|default %}
                            <a class="list-group-item list-group-item-action{% if app.request.pathInfo == menu.slug %} active{% endif %} {% if loop.last %} mb-3{% endif %}"
                               href="{{ menu.slug }}"
                               target="{{ menu.target }}"
                               rel="{{ menu.rel }}"
                               title="{{ menu.title }}"
                            >{{ menu.title }}</a>
                        {% endfor %}
                    </div>
                    <div class="list-group">
                        {% for menu in page.page.parent.children|default %}
                            <a class="list-group-item list-group-item-action{% if app.request.pathInfo == menu.slug %} active{% endif %} {% if loop.last %} mb-3{% endif %}"
                               href="{{ menu.slug }}"
                               target="{{ menu.target }}"
                               rel="{{ menu.rel }}"
                               title="{{ menu.title }}"
                            >{{ menu.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-sm-9">
                    <div class="bg-light text-dark p-3 mb-3 rounded styling-banner">
                        <h1>{{ page.page.title }}</h1>
                        <hr class="border-dark ml-0 mb-3 text-left">
                        {{ page.page.banner|raw }}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col small mb-3 text-muted styling-date-published">
                                    <span>{{ 'Gepubliceerd op'|trans }} </span>
                                    <span>{{ page.page.created }}</span>
                                </div>
                                <div class="col text-right">
                                    {% include 'bootstrap/share-icons.html.twig' %}
                                </div>
                            </div>
                            {% if page.page.images|first is not empty %}
                                <img class="img-thumbnail img-fluid"
                                     src="{{ page.page.images|first }}"
                                     alt="{{ page.page.title }}"
                                     title="{{ page.page.title }}"
                                     style="width: 40%; float: left;margin-right: 1em;"
                                >
                            {% endif %}
                            {{ page.page.description|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {% include '/bootstrap/footer.html.twig' %}

{% endblock %}
