{% extends '/bootstrap/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include '/bootstrap/'~site.template~'.html.twig' %}

    <!-- item-02 -->
    <div class="container-fluid styling-container p-0">
        <div class="container styling-breadcrumbs bg-white pt-3">
            {% include '/bootstrap/breadcrumbs.html.twig' %}
        </div>
        <div class="container styling-content bg-white py-3">
            <main id="content">
                <div class="jumbotron bg-light text-dark">
                    <h1>{{ page.page.title }}</h1>
                    {{ page.page.banner|raw }}
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ page.page.description|raw }}
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- footer -->
    {% include '/bootstrap/footer.html.twig' %}

{% endblock %}
