{% extends '/bootstrap/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include '/bootstrap/'~site.template~'.html.twig' %}

    <!-- item-02 -->
    <div class="container-fluid styling-container p-0">
        <div class="container content styling-breadcrumbs pt-3">
            {% include '/bootstrap/breadcrumbs.html.twig' %}
        </div>
        <div class="container content styling-content py-3">
            <main id="content">
                <div class="bg-light text-dark p-3 mb-3 rounded styling-banner">
                    <h1>{{ page.page.title }}</h1>
                    <hr class="border-dark ml-0 mb-3 text-left">
                    {{ page.page.banner|raw }}
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="small mb-3 styling-date-published">
                            <span class="text-secondary">{{ 'Gepubliceerd op'|trans }} </span>
                            <span class="text-uppercase">{{ page.page.created }}</span>
                        </p>
                        {% if page.page.images|first is not empty %}
                            <img class="img-thumbnail img-fluid mb-3"
                                 src="{{ page.page.images|first }}"
                                 alt="{{ page.page.title }}"
                            >
                        {% endif %}
                        {{ page.page.description|raw }}
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- footer -->
    {% include '/bootstrap/footer.html.twig' %}

{% endblock %}
