{% extends '/bootstrap/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include '/bootstrap/'~site.template~'.html.twig' %}

    <!-- landing-01 -->
    {% for banner in page.banners %}

        <div class="container-fluid p-0 styling-container styling-container-{{ banner.id }}">
            <div class="styling-container-bg-{{ banner.id }}"></div>
            <div class="container content py-3 styling-content-{{ banner.id }}">
                {% include '/bootstrap/banners/'~banner.type~'.html.twig' %}
            </div>
        </div>

    {% endfor %}

    <!-- footer -->
    {% include '/bootstrap/footer.html.twig' %}

{% endblock %}
