{% extends '/bootstrap/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include '/bootstrap/'~site.template~'.html.twig' %}

    <!-- search-01 -->
    <div class="container-fluid styling-container p-0">
        <div class="container content styling-breadcrumbs pt-3">
            {% include '/bootstrap/breadcrumbs.html.twig' %}
        </div>
        <div class="container content styling-content py-3">
            <main id="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="list-group">
                            {% for menu in page.page.children|default %}
                                <a class="list-group-item list-group-item-action{% if app.request.pathInfo == menu.slug %} active{% endif %} {% if loop.last %} mb-3{% endif %}"
                                   href="{{ menu.slug }}"
                                   target="{{ menu.target }}"
                                   rel="{{ menu.rel }}"
                                >{{ menu.title }}</a>
                            {% endfor %}
                        </div>
                        <div class="list-group pb-3">
                            {% for menu in page.menus.bodyLeft|default %}
                                <a class="list-group-item list-group-item-action{% if app.request.pathInfo == menu.slug %} active{% endif %}"
                                   href="{{ menu.slug }}"
                                   target="{{ menu.target }}"
                                   rel="{{ menu.rel }}"
                                >{{ menu.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 col-md-9 styling-search">
                        <h1>{{ 'Zoeken'|trans }}</h1>
                        {% if search is empty %}
                            <p>{{ 'Er zijn geen items gevonden.'|trans }}</p>
                        {% else %}
                            <p>
                                <span class="badge badge-pill badge-success">
                                    {{ search|length }}
                                </span> {{ 'gevonden items'|trans }}</p>
                        {% endif %}
                        {% for item in search %}
                            <div class="row pb-3">
                                <div class="col-4 col-sm-3">
                                    {% set image = item.images|first %}
                                    {% if image|first is not empty %}
                                        <a href="{{ item.slug }}">
                                            <img src="{{ image }}" class="img-fluid img-thumbnail" />
                                        </a>
                                    {% else %}
                                        <a href="{{ item.slug }}">
                                            <img src="{{ asset('templates/bootstrapV2/img/no-image.png')}}" class="img-fluid" />
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-8 col-sm-9">
                                    <p class="">
                                        <a href="{{ item.slug }}">
                                            {{ item.title }}
                                        </a>
                                    </p>
                                    <p class="text-muted">
                                        {% set banner = item.banner|split('.') %}
                                        {{ banner|first|striptags }}

                                        {% set description = item.description|split('.') %}
                                        {{ description|first|striptags }}
                                    <p>
                                        <a href="{{ item.slug }}">
                                            <span class="fa fa-arrow-alt-circle-right"></span>
                                            {{ 'Lees meer'|trans }}
                                        </a>
                                    </p>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- footer -->
    {% include '/bootstrap/footer.html.twig' %}

{% endblock %}
