<!-- bootstrapV3theme -->
<div class="container-fluid styling-header-container p-0">
    <div class="container styling-header bg-white">
        <!-- top -->
        <div class="row">
            <div class="col-12 col-md-4 text-left">
                {% for menu in page.menus.topLeft %}
                    <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}" class="text-muted">{{ menu.title }}</a>
                    {% if loop.last %}{% else %} | {% endif %}
                {% endfor %}
            </div>
            <div class="col-12 col-md-4 text-center">
                {% for menu in page.menus.topMiddle %}
                    <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}" class="text-muted">{{ menu.title }}</a>
                    {% if loop.last %}{% else %} | {% endif %}
                {% endfor %}
            </div>
            <div class="col-12 col-md-4 text-right">
                {% for menu in page.menus.topRight %}
                    <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}" class="text-muted">{{ menu.title }}</a>
                    {% if loop.last %}{% else %} | {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid styling-navbar-container p-0">
    <div class="container styling-navbar bg-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-white p-0 py-3 styling-navbar-bg">
            <a class="navbar-brand" href="/">
                {% if site.logo is not empty %}
                    <img src="{{ site.logo }}" width="30" height="30" class="d-inline-block align-top" alt="{{ site.title }}">
                {% endif %}
                {% if site.title is not empty %}
                    {{ site.title }}
                {% endif %}
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation" style="border: none;">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0 ml-auto">
                    {% for menu in page.menus.headerRight %}
                        {% if menu.children is empty %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ menu.slug }}" target="{{ menu.target }}" rel="{{ menu.rel }}">
                                    {{ menu.title }}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="{{ menu.slug }}"
                                   id="DropdownMenu_{{ menu.id }}"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ menu.title }}
                                </a>
                                <div class="dropdown-menu mb-2" aria-labelledby="DropdownMenu_{{ menu.id }}">
                                    <a class="dropdown-item"
                                       href="{{ menu.slug }}"
                                       target="{{ menu.target }}"
                                       rel="{{ menu.rel }}"
                                    >
                                        <strong>{{ menu.title }}</strong>
                                    </a>
                                    {% for m in menu.children %}
                                        <a class="dropdown-item" href="{{ m.slug }}">{{ m.title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</div>
