{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Mijn bestellingen'|trans }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- body -->
    <div class="container body-container pt-3" id="form_search_results_2">
        <div class="row">
            <div class="d-12 col-md-3 mb-3">
                {% include site.template~'/account/menu.html.twig' %}
            </div>
            <div class="col-12 col-md-9 mb-3">
                <h1>{{ 'Mijn bestellingen'|trans }}</h1>
                <p class="text-muted">{{ 'Bekijk hieronder uw geplaatste bestellingen.'|trans }} {{ 'Heeft u vragen over uw bestelling? Mail dan naar onze klantenservice. Vergeet niet uw bestelnummer door te geven.'|trans }}</p>
                {% if orders|length == 0 %}
                    <p>{{ 'Er zijn nog geen bestellingen geplaatst.' }}</p>
                {% else %}
                    <div id="responseId"></div>
                    <table class="table table-hover">
                        <tr>
                            <th>{{ 'Nr'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th>{{ 'Totaal'|trans }}</th>
                            <th>{{ 'Betaling'|trans }}</th>
                            <th>{{ 'Tracking'|trans }}</th>
                            <th class="d-none d-sm-block">{{ 'Datum'|trans }}</th>
                        </tr>

                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{{ path('account_order', {'id':order.id}) }}">{{ order.id }}</a>
                                </td>
                                <td>
                                    {{ order.orderStatus.title|default }}
                                </td>
                                <td>
                                    {{ order.total|number_format(2, ',', '') }}
                                </td>
                                <td>
                                    {% if order.orderPaymentStatus.id != 1 %}
                                        <p class="text-danger">
                                            <span class="fa fa-arrow-right"></span>
                                            <a class="text-danger" href="{{ path('account_order_payment', {'orderId':order.id}) }}">{{ 'Betalen'|trans }}</a>
                                            <span class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="Jouw bestelling heeft betaalstatus:{{ order.orderPaymentStatus.title }}. Klik op Betalen om betreffende bestelling te betalen."></span>
                                        </p>
                                    {% else %}
                                        <p class="text-success"><span class="fa fa-check-circle-o"></span> {{ order.orderPaymentStatus.title|default }}</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.shippingTrackingCode %}
                                        <p>
                                            <a href="{{ order.shippingTrackingCode }}" target="_blank">
                                                <span class="fa fa-truck"></span>
                                                <span>{{ 'Volg zending'|trans }}</span>
                                                {#<span class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="{{ 'Klik op de link om jouw bestelling te volgen'|trans }}"></span>#}
                                            </a>
                                        </p>
                                    {% else %}
                                        <p>
                                            <span>{{ 'nnb'|trans }}</span>
                                            <span class="fa fa-question-circle-o" data-toggle="tooltip" data-placement="top" title="{{ 'Tracking code van bestelling is nog niet bekend'|trans }}"></span>
                                        </p>
                                    {% endif %}
                                </td>
                                <td class="d-none d-sm-block">
                                    {{ order.created|date("d M Y") }}
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                {% endif %}
            </div>
        </div>
    </div>

    <div class="" id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
