{% extends site.template~'/base.html.twig' %}

{% block title %}{{ site.description }} - {{ 'Register'|trans }}{% endblock %}

{% block metaDescription %}{{ pate.metaDescription|default }}{% endblock %}
{% block metaKeywords %}{{ page.metaKeywords|default }}{% endblock %}
{% block metaAuthor %}{{ page.metaAuthor|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <div class="container body-container" id="form_search_results_2">
        <div class="row">
            <div class="d-none d-sm-block col-md-3 mb-3">
                <h2>{{ 'Maak een account'|trans }}</h2>
                <p>{{ 'Maak een account om uw bestellingen te plaatsen, lopende bestellingen in te zien en te volgen, uw gegevens wijzigen.'|trans }}</p>
            </div>
            <div class="col-12 col-md-9 mb-3">
                <h2>{{ 'Uw gegevens'|trans }}</h2>
                <p>{{ 'Maak binnen enkele minuten jouw account.'|trans }}</p>

                <!-- templates -->
                <!-- bootstrap_4_layout -->
                <!-- bootstrap_4_horizontal_layout.html.twig -->

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_errors(form) }}
                {{ form_start(form) }}

                {{ form_row(form.forename) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}

                {{ form_row(form.register) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
