{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Success'|trans }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- body -->
    <div class="container body-container">
        <div class="row">
            <div class="col-12 col-md-12 mb-3">
                <h1>{{ 'Success'|trans }}</h1>
                <p>{{ 'Uw gegevens registratie is verwerkt. Klik op onderstaand link om in te loggen.'|trans }}</p>
                <p><a href="{{ path('account_orders') }}"><span class="fa fa-arrow-circle-left"></span> {{ 'Inloggen'|trans }}</a></p>

            </div>
        </div>
    </div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
