{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Mijn gegevens'|trans }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- body -->
    <div class="container body-container" id="form_search_results_2">
        <div class="row">
            <div class="d-12 col-md-3 mb-3">
                {% include site.template~'/account/menu.html.twig' %}
            </div>
            <div class="col-12 col-md-9 mb-3">
                <h1>{{ 'Toevoegen of wijzigen'|trans }}</h1>
                <p class="text-muted">{{ 'Wijzig of voer een nieuw adres in'|trans }}</p>

                <!-- templates -->
                <!-- bootstrap_4_layout -->
                <!-- bootstrap_4_horizontal_layout.html.twig -->

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_errors(form) }}
                {{ form_start(form) }}

                {{ form_row(form.street) }}
                {{ form_row(form.houseNumber) }}
                {{ form_row(form.postcode) }}
                {{ form_row(form.city) }}
                {{ form_row(form.country) }}

                {{ form_row(form.save) }}

                {{ form_end(form) }}

            </div>
        </div>
    </div>

    <div class="" id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
