{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Wachtwoord herstellen'|trans }}{% endblock %}
{% block metaDescription %}{{ 'Klik hier om uw wachtwoord te herstellen'|trans }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/account/header.html.twig' %}

    <div class="container body-container" id="form_search_results_2">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3"></div>
            <div class="col-12 col-sm-12 col-md-9">
                <h2>{{ 'Fout'|trans }}</h2>
                <p class="text-muted">{{ 'Het ingevoerde email-adres is niet bij ons bekend. Probeer een ander email-adres of registreer als nieuwe klant. '|trans }}</p>
                <p><a href="{{ path('account_password_reset', {'slug':'register'}) }}"><span class="fa fa-arrow-circle-o-left"></span> {{ 'Wachtwoord herstellen'|trans }}</a></p>
                <p><a href="{{ path('default', {'slug':'register'}) }}"><span class="fa fa-arrow-circle-o-left"></span> {{ 'Register'|trans }}</a></p>
            </div>
        </div>
    </div>
    <div class="" id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
