{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Wachtwoord herstellen'|trans }}{% endblock %}

{% block metaDescription %}{{ 'Wachtwoord herstellen'|trans }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <div class="container body-container" id="form_search_results_2">
        <div class="row">
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-9">
                <h2>{{ 'Succes'|trans }}</h2>
                <p class="text-muted">{{ 'Jouw aanvraag is verstuurd.'|trans }}</p>
                <p>{{ 'Er is een email verstuurd naar het opgegeven email-adres. Daarin bevind zich een link. Als je op deze link/URL klikt kun je een nieuw wachtwoord instellen. Let op, deze url is tijdelijk geldig.'|trans }}</p>
                <p><a href="{{ path('default', {'slug':''}) }}"><span class="fa fa-arrow-circle-o-left"></span> {{ 'Home'|trans }}</a></p>
                <p><a href="{{ path('login') }}"><span class="fa fa-arrow-circle-o-left"></span> {{ 'Inloggen'|trans }}</a></p>
            </div>
        </div>
    </div>
    <div class="" id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
