<!-- bootstrapV3theme -->
<!-- start -->
<div class="container-fluid styling-header-container p-0">
    <div class="container styling-header">
        <!-- top -->
        <div class="row">
            <div class="col-12 col-md-4 text-left">
                {% for menu in page.menus.topLeft %}
                    <a href="{{ menu.slug }}"
                       rel="{{ menu.rel }}"
                       target="{{ menu.target }}"
                       class="text-muted"
                       title="{{ menu.title }}"
                    >{{ menu.title }}</a>
                    {% if loop.last %}{% else %} | {% endif %}
                {% endfor %}
            </div>
            <div class="col-12 col-md-4 text-center">
                {% for menu in page.menus.topMiddle %}
                    <a href="{{ menu.slug }}"
                       rel="{{ menu.rel }}"
                       target="{{ menu.target }}"
                       class="text-muted"
                       title="{{ menu.title }}"
                    >{{ menu.title }}</a>
                    {% if loop.last %}{% else %} | {% endif %}
                {% endfor %}
            </div>
            <div class="col-12 col-md-4 text-right">
                {% for menu in page.menus.topRight %}
                    <a href="{{ menu.slug }}"
                       rel="{{ menu.rel }}"
                       target="{{ menu.target }}"
                       class="text-muted"
                       title="{{ menu.title }}"
                    >{{ menu.title }}</a>
                    {% if loop.last %}{% else %} | {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid styling-navbar-container p-0">
    <div class="container styling-navbar">
        <nav class="navbar navbar-expand-lg navbar-light p-0 py-3 styling-navbar-bg">
            <a class="navbar-brand"
               href="/"
               title="{{ site.title }}">
                {% if site.logo is not empty %}
                    <img src="{{ site.logo }}"
                         width="30"
                         height="30"
                         class="d-inline-block align-top"
                         alt="{{ site.title }}"
                         title="{{ site.title }}" />
                {% endif %}
                {% if site.title is not empty %}
                    {% set title = site.title|split(" ") %}
                    <span class="text-primary">{{ title|first }}</span>
                    {% for t in title|slice(1,10) %}
                        <span>{{ t }} </span>
                    {% endfor %}
                {% endif %}
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation" style="border: none;">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
                <form class="d-md-flex d-block flex-row mx-md-auto mx-0 mt-3 mb-1 my-sm-0" action="{{ path('default', {'slug':'search', '_locale':app.request.locale}) }}">
                    <input class="form-control rounded-pill search-input"
                           type="search"
                           placeholder="{{ 'Search'|trans([], null, locale = app.request.locale) }}"
                           aria-label="Search"
                           name="needle"
                           value="{{ app.request.get('needle') }}"
                    >
                </form>
                <ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0 ml-auto">
                    {% for menu in page.menus.headerRight %}
                        {% if menu.children is empty %}
                            <li class="nav-item pl-3">
                                <a class="nav-link"
                                   href="{{ menu.slug }}"
                                   target="{{ menu.target }}"
                                   rel="{{ menu.rel }}"
                                   title="{{ menu.title }}"
                                >
                                    {{ menu.title }}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item pl-3 dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="{{ menu.slug }}"
                                   id="DropdownMenu_{{ menu.id }}"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   title="{{ menu.title }}"
                                >{{ menu.title }}</a>
                                <div class="dropdown-menu dropdown-menu-right mb-3 shadow styling-dropdown-menu" aria-labelledby="DropdownMenu_{{ menu.id }}">
                                    <a class="dropdown-item p-3 px-4 border-bottom"
                                       href="{{ menu.slug }}"
                                       target="{{ menu.target }}"
                                       rel="{{ menu.rel }}"
                                       title="{{ menu.title }}"
                                    >
                                        <strong>{{ menu.title }}</strong>
                                    </a>
                                    {% for m in menu.children %}
                                        <a class="dropdown-item p-3 px-4 {% if loop.last %}{% else %}border-bottom{% endif %}"
                                           href="{{ m.slug }}"
                                           title="{{ m.title }}"
                                        >{{ m.title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="col-auto">
                    {% if site.locales|length > 1 %}
                        <div class="dropdown">
                            <button class="btn dropdown-toggle"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                            >{{ page.page.locale }}</button>
                            <div class="dropdown-menu dropdown-menu-right mb-3 shadow styling-dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for locale in site.locales %}
                                    <a class="dropdown-item p-3 px-4 {% if loop.last %}{% else %}border-bottom{% endif %}"
                                       href="/{{ locale }}"
                                       title="{{ locale }}"
                                    >{{ locale }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>
