<div class="container-fluid styling-footer styling-footer-{{ page.page.id }} p-0">
    <div class="styling-footerr-bg-{{ page.page.id }}"></div>
    <div class="container pt-5 pb-3">
        <div class="row justify-content-md-between">
            <div class="col-12 col-md-4 mb-4">
                <h3>{{ site.title }}</h3>
                {{ site.description|raw }}
            </div>
            <div class="col-12 col-md-2 mb-4">
                <h3 class="h5 mb-3">{{ page.menusInfo.footerLeft.title }}</h3>
                {{ page.menusInfo.footerLeft.description|raw }}
                {% if site.email is not empty %}
                    <p class="text-nowrap">
                        <a href="mailto:{{ site.email }}">
                            <span class="fa fa-envelope-open" aria-hidden="true"> </span> {{ site.email }}
                        </a>
                    </p>
                {% endif %}
                {% if site.phone is not empty %}
                    <p class="text-nowrap">
                        <a href="tel:{{ site.phone }}">
                            <span class="fa fa-phone" aria-hidden="true"> </span> {{ site.phone }}
                        </a> <br>
                    </p>
                {% endif %}
                <ul class="nav flex-column">
                    {% for menu in page.menus.footerLeft %}
                        {% if menu.children is empty %}
                            <li class="mb-2">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                        {% else %}
                            <li class="mb-2">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                            {% for m in menu.children %}
                                <li class="mb-1">
                                    <a href="{{ m.slug }}" rel="{{ m.rel }}" target="{{ m.target }}">
                                        <i class="fa fa-level-up-alt fa-rotate-90"></i>
                                        {{ m.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-2 mb-4">
                <h3 class="h5 mb-3">{{ page.menusInfo.footerMiddle.title }}</h3>
                {{ page.menusInfo.footerMiddle.description|raw }}

                {% if site.facebook is not empty %}
                    <p>
                        <a href="{{ site.facebook }}" target="_blank">
                            <span class="fab fa-facebook" aria-hidden="true"> </span> Facebook
                        </a>
                    </p>
                {% endif %}
                {% if site.twitter is not empty %}
                    <p>
                        <a href="{{ site.twitter }}" target="_blank">
                            <span class="fab fa-twitter" aria-hidden="true"> </span> Twitter
                        </a>
                    </p>
                {% endif %}
                {% if site.linkedin is not empty %}
                    <p>
                        <a href="{{ site.linkedin }}" target="_blank">
                            <span class="fab fa-linkedin" aria-hidden="true"> </span> Linkedin
                        </a>
                    </p>
                {% endif %}
                {% if site.instagram is not empty %}
                    <p>
                        <a href="{{ site.linkedin }}" target="_blank">
                            <span class="fab fa-instagram" aria-hidden="true"> </span> Instagram
                        </a>
                    </p>
                {% endif %}
                <ul class="nav flex-column">
                    {% for menu in page.menus.footerMiddle %}
                        {% if menu.children is empty %}
                            <li class="mb-2">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">
                                    {{ menu.title }}
                                </a>
                            </li>
                        {% else %}
                            <li class="mb-2">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                            {% for m in menu.children %}
                                <li class="mb-1">
                                    <a href="{{ m.slug }}" rel="{{ m.rel }}" target="{{ m.target }}">
                                        <i class="ml-1 fa fa-level-up-alt fa-rotate-90"></i> {{ m.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-2 mb-4">
                <h3 class="h5 mb-3">{{ page.menusInfo.footerRight.title }}</h3>
                {{ page.menusInfo.footerRight.description|raw }}
                <ul class="nav flex-column">
                    {% for menu in page.menus.footerRight %}
                        {% if menu.children is empty %}
                            <li class="mb-2">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                        {% else %}
                            <li class="mb-2">
                                <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}">{{ menu.title }}</a>
                            </li>
                            {% for m in menu.children %}
                                <li class="mb-1">
                                    <a href="{{ m.slug }}" rel="{{ m.rel }}" target="{{ m.target }}">
                                        <i class="ml-1 fa fa-level-up-alt fa-rotate-90"></i>
                                        {{ m.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid small pb-5 styling-footer-bottom styling-footer-bottom-{{ page.page.id }}">
    <div class="row">
        <div class="container">
            <hr class="m-0">
            <div class="row py-2">
                <div class="col-12 col-md-3 text-muted pb-2 pb-sm-0 text-center text-sm-left">
                    &copy; {{ site.title }} {{ "now"|date("Y") }}
                    {% for menu in page.menus.bottomLeft %} |
                        <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}" class="text-muted">{{ menu.title }}</a>
                        {% if loop.last %}{% else %} | {% endif %}
                    {% endfor %}
                </div>
                <div class="col-12 col-md-3 text-muted pb-2 pb-sm-0 text-center">
                    {% for menu in page.menus.bottomMiddle %}
                        <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}" class="text-muted">{{ menu.title }}</a>
                        {% if loop.last %}{% else %} | {% endif %}
                    {% endfor %}
                </div>
                <div class="col-12 col-md-6 text-muted pb-2 pb-sm-0 text-center text-sm-right">
                    {% for menu in page.menus.bottomRight %}
                        <a href="{{ menu.slug }}" rel="{{ menu.rel }}" target="{{ menu.target }}" class="text-muted">{{ menu.title }}</a>
                        {% if loop.last %}{% else %} | {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
