<a class="styling-share-icon-facebook"
   target="_blank"
   title="facebook"
   href="https://www.facebook.com/sharer/sharer.php?u={{ url('default', {'slug':app.request.get('slug')}) }}"
>
    <span class="fab fa-facebook-square"> </span>
</a>
<a class="styling-share-icon-linkedin"
   target="_blank"
   title="linkedin"
   href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ url('default', {'slug':app.request.get('slug')}) }}%3Futm_source%3Dlinkedin%26utm_medium%3Dwebsite%26utm_campaign%3Dshared-backlink"
>
    <span class="fab fa-linkedin"> </span>
</a>
<a class="styling-share-icon-twitter"
   target="_blank"
   title="twitter"
   href="https://twitter.com/share?url={{ url('default', {'slug':app.request.get('slug')}) }}%3Futm_source%3Dtwitter%26utm_medium%3Dwebsite%26utm_campaign%3Dshared-backlink&amp;text=Check%20this%20page&amp;hashtags=bci"
>
    <span class="fab fa-twitter-square"> </span>
</a>
<a class="styling-share-icon-email"
   target="_blank"
   title="email"
   href="mailto:?subject={{ page.page.title }}&amp;body={{ page.page.title }}%20{{ url('default', {'slug':app.request.get('slug')})|url_encode }}"
>
    <span class="fa fa-envelope-square"> </span>
</a>
