<main id="content">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-lg-9">
                <img src="{{ page.page.images|first }}" class="img-fluid img-thumbnail" alt="">
            </div>
        </div>
    </div>
    <div class="bg-skew bg-skew-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <article class="pb-2">

                        <h1 class="text-center">{{ page.page.title }}</h1>
                        <p class="small mb-5 text-center">
                            <span class="text-secondary">Gepubliceerd op </span>
                            {#{{ dump(page.page) }}#}
                            <span class="text-uppercase">{{ page.page.created|date('d M Y') }}</span>
                        </p>
                        <p class="lead">{{ page.page.banner|raw }}</p>

                        {{ page.page.description|raw }}

                        {#<figure class="figure mt-2">#}
                            {#<img src="{{ page.page.images|first }}" class="img-fluid shadow" alt="page.page.title">#}
                            {#<figcaption class="figure-caption p-2 text-center">This is a caption</figcaption>#}
                        {#</figure>#}

                        <p class="small mt-5 text-center">
                            <span class=" text-secondary">Tagged: </span>
                            {% for tag in page.tags %}
                                <a href="{{ tag.slug }}" class="text-dark">{{ tag.title }}</a>
                            {% endfor %}
                        </p>

                        {% for user in page.users %}
                            <div class="media my-5">
                                <img class="avatar avatar-lg mr-3" src="{{ user.images|first }}" alt="{{ user.surname }}, {{ user.forename }}">
                                <div class="media-body">
                                    <h3 class="h5 mt-0">{{ user.surname }}, {{ user.forename }}</h3>
                                    <p class="mb-0 text-secondary">{{ user.banner }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </article>
                    <hr class="sep border-primary">
                </div>
            </div>
        </div>
    </div>
</main>
