{% extends site.template~'/base.html.twig' %}

{% block title %}{{ page.page.metaTitle|default }}{% endblock %}
{% block metaDescription %}{{ page.page.metaDescription|default }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- 404 -->
    <main id="main">
        <div class="bg-skew bg-skew-light py-5 py-lg-6 min-vh-90 overflow-hidden">
            <h1 class="display-4 py-5 text-center">{{ 'Oeps, pagina niet gevonden.'|trans }}</h1>
            <div class="container text-center">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-8">
                        <p class="lead mb-5">
                            {{ 'Helaas kunnen we de pagina die je zoekt niet meer vinden.'|trans }}
                            {{ 'Dit kan gebeuren wanneer een pagina is gewijzgd of verwijderd.'|trans }}
                            {{ 'Het kan ook zijn dat je een type fout hebt gemaakt bij het invoeren van het adres.'|trans }}
                        </p>
                        <a href="{{ path('default') }}" class="btn btn-pill btn-primary mb-6">
                            <span class="fa fa-arrow-circle-left"></span>
                            {{ 'Home'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
