{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Mijn bestelling'|trans }}{% endblock %}

{% block body %}

    <!-- navbar -->
    {% include site.template~'/header.html.twig' %}

    <!-- body -->
    <div class="container body-container pt-3" id="form_search_results_2">
        <div class="row">
            <div class="d-12 col-md-3 mb-3">
                {% include site.template~'/account/menu.html.twig' %}
            </div>
            <div class="col-12 col-md-9 mb-3">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h1>{{ 'Bestelling'|trans }}</h1>
                        <table class="table table-borderless">
                            <tr>
                                <td><b>{{ 'Bestelnummer'|trans }}</b></td>
                                <td>{{ order.id }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ 'Datum geplaatst'|trans }}</b></td>
                                <td>{{ order.created|date("d M Y") }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th><b>{{ 'Afb'|trans }}</b></th>
                        <th><b>{{ 'Titel'|trans }}</b></th>
                    </tr>
                    {% for item in orderItems %}
                        <tr>
                            <td>
                                <a href="{{ path('default', {'slug':item.product.slug}) }}">
                                    <img src="{{ item.product.images|first }}" class="img-fluid img-thumbnail" alt="{{ item.product.title }}" style="max-height: 5em;">
                                </a>
                            </td>
                            <td>
                                <p>
                                    <a href="{{ path('default', {'slug':item.product.slug}) }}">
                                        {{ item.product.title }}
                                    </a>
                                </p>
                                <p>
                                    <a href="{{ path('default', {'slug':item.product.slug}) }}">
                                        <span class="fa fa-shopping-basket"></span>
                                        {{ 'Opnieuw bestellen'|trans }}
                                    </a>
                                </p>
                                <p>
                                    <a href="{{ path('account_review', {'productId':item.product.id}) }}">
                                        <span class="fa fa-comment"></span>
                                        {{ 'Schrijf een beoordeling'|trans }}
                                    </a><br>
                                </p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="" id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
