{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Wachtwoord herstellen'|trans }}{% endblock %}
{% block metaDescription %}{{ 'Klik hier om uw wachtwoord te herstellen' }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <div class="container body-container" id="form_search_results_2">
        <div class="row">
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-9">
                <h2>{{ 'Wachtwoord herstellen'|trans }}</h2>
                <p>{{ 'Herstel hier jouw wachtwoord'|trans }}</p>

                <!-- templates -->
                <!-- bootstrap_4_layout -->
                <!-- bootstrap_4_horizontal_layout.html.twig -->

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_errors(form) }}
                {{ form_start(form) }}

                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                {{ form_row(form.save) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    <div class="" id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
