{% extends site.template~'/base.html.twig' %}

{% block title %}{{ 'Mijn gegevens'|trans }}{% endblock %}

{% block body %}

    <!-- header -->
    {% include site.template~'/header.html.twig' %}

    <!-- body -->
    <div class="container body-container pt-3" id="form_search_results_2">
        <div class="row">
            <div class="d-12 col-md-3 mb-3">
                {% include site.template~'/account/menu.html.twig' %}
            </div>
            <div class="col-12 col-md-9">
                <h1>{{ 'Mijn gegevens'|trans }}</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-home" aria-selected="true">{{ 'General'|trans }}</a>
                        <a class="nav-item nav-link" id="nav-meta-tab" data-toggle="tab" href="#nav-company-info" role="tab" aria-controls="nav-meta" aria-selected="true">{{ 'Bedrijf'|trans }}</a>
                    </div>
                </nav>
                <div class="tab-content pt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">

                        <div class="form-group row">
                            <label class="col-form-label col-sm-2 form-control-label">Email</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><span class="fa fa-lock"></span></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email" value="{{ user.email|default }}" disabled>
                                </div>
                            </div>
                        </div>

                        <!-- templates -->
                        <!-- bootstrap_4_layout -->
                        <!-- bootstrap_4_horizontal_layout.html.twig -->

                        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                        {{ form_errors(form) }}
                        {{ form_start(form) }}

                        {{ form_row(form.gender) }}
                        {{ form_row(form.forename) }}
                        {{ form_row(form.embolism) }}
                        {{ form_row(form.surname) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.phone2) }}
                        {{ form_row(form.newsletter) }}

                    </div>
                    <div class="tab-pane fade show" id="nav-company-info" role="tabpanel" aria-labelledby="nav-general-tab">
                        <p>{{ 'Indien van toepassing vul dan hier uw bedrijsnaam en BTWnummer in.'|trans }}</p>

                        {{ form_row(form.companyName) }}
                        {{ form_row(form.companyVatNumber) }}
                    </div>
                </div>
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="" id="form_search_results_1"></div>

    <!-- footer -->
    {% include site.template~'/footer.html.twig' %}

{% endblock %}
