<!-- Control To Actions -->
<hr class="sep border-primary">
<div class="container py-5">
    <div class="">
        <div class="text-center">
            {% for cta in banner.CTAS|slice(0,1) if cta is defined %}
                <a class="btn btn-pill btn-primary"
                   href="{{ cta.slug }}"
                   target="{{ cta.target }}"
                   rel="{{ cta.rel }}"
                   title="{{ cta.title }}"
                   role="button"
                >{{ cta.title }}</a>
            {% endfor %}
            {% for cta in banner.CTAS|slice(1,1) if cta is defined %}
                <a class="btn btn-link"
                   href="{{ cta.slug }}"
                   target="{{ cta.target }}"
                   rel="{{ cta.rel }}"
                   role="button"
                   title="{{ cta.title }}"
                >{{ cta.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>
