<!-- testimonials -->
<div class="row">
    <h2 class="h3 mt-5 mb-4 text-center">{{ banner.title }}</h2>
    <div class="row py-3">
        {% for item in banner.items %}
            <div class="col-md">
                <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
                    <img class="avatar avatar-md mb-4" src="{{ item.images|first }}?id={{ random() }}" alt="Leo Gill">
                    <p class="text-secondary">{{ item.description|raw }}</p>
                    <cite class="small text-uppercase">{{ item.title }}</cite>
                </blockquote>
            </div>
        {% endfor %}
    </div>
</div>
