<div class="row">
    <div class="col-lg-6 mb-4 mb-lg-0">
        <h2>{{ banner.title }}</h2>
        {{ banner.description|raw }}
        {% for cta in banner.CTAS|slice(0,1) if cta is defined %}
            <a class="btn btn-pill btn-primary"
               href="{{ cta.slug }}"
               target="{{ cta.target }}"
               rel="{{ cta.rel }}"
               role="button"
            >{{ cta.title }}</a>
        {% endfor %}
        {% for cta in banner.CTAS|slice(1,1) if cta is defined %}
            <a class="btn btn-link"
               href="{{ cta.slug }}"
               target="{{ cta.target }}"
               rel="{{ cta.rel }}"
               role="button"
            >{{ cta.title }} » </a>
        {% endfor %}
    </div>
    <div class="col-lg-6 d-none d-sm-block">
        <img src="{{ banner.images|first }}?id={{ random() }}"
             class="img-fluid img-thumbnail"
             alt="{{ banner.title }}" />
    </div>
</div>
