<section class="pb-3">
    <div class="row">
        <div class="col-lg-8 pb-3">
            <h2>{{ banner.title }}</h2>
            <hr class="ml-0 mb-3 text-left">
            {{ banner.description|raw }}
            {% for cta in banner.CTAS|slice(0,1) if cta is defined %}
                <a class="link-cta"
                   href="{{ cta.slug }}"
                   target="{{ cta.target }}"
                   rel="{{ cta.rel }}"
                >{{ cta.title }} »</a>
            {% endfor %}
        </div>
        <div class="col-lg-4 text-center">
            <img src="{{ banner.images|first }}?id={{ random() }}"
                 class="img-thumbnail mb-4 mb-lg-0" alt="" />
        </div>
    </div>
</section>
